input.ng-invalid {
	color:white;
	background: red;
}
p {
	font-size: 9.5vw;
}

#solveBtn {
  margin-top: 20px;
}

#solutionBreakdown .infix {
  font-size: 50px;
  font-size: 5.0vw;
}

.step {
  font-size: 40px;
  font-size: 4.5vw;
}

.lhs {
  color: red;
}

.rhs {
  color: blue;
}

.op {
  color: green;
}

.arrow {
  height: 4vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}