input.ng-invalid {
	color:white;
	background: red;
}

p {
	font-size: 9.5vw;
}

#solveBtn {
  margin-top: 20px;
}

#solutionBreakdown .infix {
  font-size: 50px;
  font-size: 5.0vw;
  position: relative;
}

.step {
  font-size: 40px;
  font-size: 4.5vw;
}

.highlight {
  color: #48CCCC;
}

.title {
  font-size: 30px;
  font-size: 3.5vw;
}